a{
    text-decoration: none;
    color: red;
    margin: 20px;
   
}
a:hover{
    color: aqua;
    font-size: larger;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid aqua;
    overflow-y: hidden;
}
body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color: darkorange;
}